<section class="hero-slider">
    <!-- Single Slider -->
    <div class="single-slider" style="background-image: url('https://asset.msi.com/global/picture/image/images/wallpaper/2018/GT75-titan-3840-2160.jpg'); ">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-9 offset-lg-3 col-12">
                    <div class="text-inner">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <div class="hero-text">
                                    <h1>Laptop For You</h1>

                                    <div class="button">
                                        <a href="#" class="btn">Shop Now!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Single Slider -->
</section>