
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutSite.cshtml";
}
<div class="container">
    <h2>
        Công ty Laptop HCM

    </h2>
    <p style="line-height:40px">
        Ra mắt nhằm đáp ứng các nhu cầu về học tập cũng như giải trí của mọi lứa tuổi.
        <b></b>
        Sự phát triển của internet, nền tảng điện toán đám mây trong cuộc công nghiệp 4.0 thật sự mở ra một thế giới phẳng giúp cho cộng đồng start-up cũng như hệ thống doanh nghiệp vừa và nhỏ tiếp cận các cơ hội, phát triển các ý tưởng kinh doanh một cách thuận tiện. Rất nhiều doanh nghiệp mới đã được thành lập chỉ đơn giản từ một ý tưởng mới lạ, một nhóm các bạn trẻ cùng chung một đam mê và một bộ các thiết bị máy tính đầu cuối để tương tác trên nền tảng internet. Ngành công nghiệp Gaming có thể xem như là một minh chứng hùng hồn cho sự dịch chuyển và bùng nổ cho mô hình kinh doanh đầy năng động này. Đã có rất nhiều bạn trẻ phát triển thành công ý tưởng kinh doanh của mình trong lĩnh vực game dựa vào các nền tảng Stream từ Youtube hay Facebook.
        <b></b>

        </pstyle="line-height:200px">
        <a href="~/">KHÁM PHÁ NGAY!</a>
</div>

